* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


/* scrollbar hide  */
  html,
  body {
    overflow-y: auto;           /* Allow vertical scrolling */
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
  }

  body::-webkit-scrollbar {
    width: 0px;                /* Chrome, Safari, Opera */
    background: transparent;   /* Optional: make it invisible */
  }

/* branding Slider  */

    .swiper-pagination-bullet {
      background-color: white;
      opacity: 0.6;
    }
    .swiper-pagination-bullet-active {
      background-color: #facc15;
      opacity: 1;
    }